body {
  background-color: #F9F3DB !important;
}
ul {
  padding-left: 20px;
}
li {
  list-style-position: outside;
}

.entry-content>* {
  margin-left: auto;
  margin-right: auto;
}
.entry-content>*:not(.alignfull):not(.alignwide) {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}
.entry-content>*.alignwide {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.font-default {
  font-family: var(--wp--preset--font-family--default);
}
.font-2 {
  font-family: var(--wp--preset--font-family--2);
}

.wp-block-image img {
  height: auto;
}

button:focus {
  outline: none !important;
}

figure.wp-block-embed.is-type-video,
.wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /*16: 9*/
  margin-bottom: calc(-56.25%/1.8);
}

figure.wp-block-embed.is-type-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.kt-row-column-wrap {
  z-index: unset !important;
}