.woocommerce-store-notice {
	order: -1;
	text-align: center;
	width: 100%;
	background-color: black;
	color: white;
	.btn-close {
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: .25rem;
	}
}